/* *{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.body {
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */

}

.topnav {
  overflow: hidden;
  color: black;
  background-color: #f0fbfc;
  display: flex;
  justify-content: space-between
}

.contentnavbar {
  color: black;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.hiddenarrowsliderdiv {
  display: flex;
  justify-content: space-evenly;
  justify-content: right;
  display: none;
  margin-bottom: 1%;
}

.hiddenarrowleft {
  border-radius: 50%;
  background-color: #de4043;
  color: white;
  height: 4vh;
  width: 4vh;
  text-align: center;
  font-weight: bold;

}

.hiddenarrowleft:hover {
  background-color: darkred;
  cursor: pointer;
}

.hiddenarrowcontent {
  padding-top: 15%;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn:hover {
  background-color: green;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.dropdown:hover .dropdown-content {
  display: block;
  color: white;

}

#toggleButton {
  display: none;

}

.navbar.active {
  display: none;
}

.brand-image {
  height: 10vh;
}

.contentnavbar {
  margin-top: 2%;
} 


.nav_btn {
  background-color: #de4043;
  color: white;
  height: 8vh;
  width: 22vh;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.nav_btn:hover {
  background-color: darkred;
}

.right_content_nav {
  margin-top: 15px;
  margin-right: 1%;
}

.home_container {
  display: flex;
  background-color: #f0fbfc;
}

.home_content1 {
  margin-left: 3%;
}

.Red_Content_Home {
  color: #de4043;
}

.House_1 {
  height: 70vh;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* width: 100%; */
}

.button_homediv {
  display: flex;

}

.Learn_div {

  padding-left: 2%;
}

.linkdisplayhomediv {
  margin-top: 5%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}
.slashomeform{
  width: 0.3vh;
  height: 15vh;
margin-top: 1%;
  background-color: #dbddf1;
}

.contentlinkhomediv {
  color: #27c879;
}

.contentlinkhomediv2 {
  color: #de4043;
}

.contentlinkhomediv3 {
  color: #1e6fed;
}

.contentlinkhome {}

.textlinkdiv {
display: flex;
justify-content: center;
justify-content: space-evenly;
}
.iconimageform{
  height: 3.5vh;
}
.homecontainer2 {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  margin-top: 5%;

}
.servicesh1tag{
  padding-top: 5%;
}

.content1container2 {
  margin-left: 10%;
}

.content2container2 {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  margin-top: 2%;
}

.iconboxcontainer {
  background-color: #de4043;
  border-radius: 50%;
  height: 5vh;
  width: 20vh;
  text-align: center;
  /* overflow: hidden;
  position: absolute;
  justify-content: right;
  right: 0; */
}

.iconboxcontainer:hover {
  background-color: darkred;
  cursor: pointer;
}

.boxcontainer1 {
  display: flex;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.2);
  border-radius: 0 80px 0 0;
  border: 1px solid #dbddf1;
}


.iconframe {
  height: 3.5vh;
  margin-top: 5px;
}

.contentboxcontainer {
  margin-left: 5%;
}

.boxofcard1 {
  background-color: #f6f8fc;
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  justify-content: center;

}

.boxofcard2 {
  background-color: #f6f8fc;
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  justify-content: center;

}

.House_2 {
  width: 95.7vh;
  height: 70vh;
}

.House_3 {
  width: 95.7vh;
  height: 70vh;
}

.houusebtnicon {
  height: 3.5vh;
  margin-top: 4%;
}

.box_btn {
  background-color: #de4043;
  color: white;
  height: 8vh;
  width: 35vh;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
}

.box_btn:hover {
  background-color: darkred;
}

.boxbuttoncontent {
  display: flex;
  justify-content: center;
}

.namecirclecontainer {
  display: grid;
  gap: 150px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.circle1container {
  display: flex;
  gap: 5px;
}

.circle1 {
  background-color: #f0fbfc;
  border-radius: 50%;
  height: 1.5vh;
  width: 1.5vh;
}

.slidercontainer {
  display: grid;
  gap: 90px;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.arrowbuttoncontainer {
  color: white;
  background-color: #de4043;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  justify-content: center;
  margin-top: 7em;
  /* margin-left: 14%; */
  box-shadow: #fdf0f0 (0 -15px 0 0.3);
  cursor: pointer;

}

.arrowbuttoncontainer:hover {
  background-color: darkred;
  cursor: pointer;
}

.arrowsign {
  text-align: center;
  justify-content: center;
 padding-top: 15%;
}

.imageofslidercontainer {}

.slidercirclediv {
  display: flex;
  gap: 5px;
  margin-top: 7%;
  margin-left: 3%;
}

.dot {
  background-color: lightgray;
  border-radius: 50%;
  height: 1.5vh;
  width: 1.5vh;
  transition: background-color 0.6s ease;
}
.active, .dot:hover{
  background-color: #de4043;
}

.slidercirclesred {
  background-color: #de4043;
  border-radius: 50%;
  height: 1vh;
  width: 1vh;
}

.cardbox2 {
  margin-top: 5%;
}

.cardbox22 {
  margin-left: 5%;
  justify-content: center;
  margin-top: 5%;
}


/* .container5{
    background-image: url('./assets/Sake_Hand.png');
    width: 100%;
    height: 70vh;
    background-size: (100% 100%);
  
  }
  .redcontainersakehandcontainer{
    background-color: #de4043;
    border-radius: 10px;
    justify-content: center;
    width: 20vh;
  } */
.sakehandcontainerimage {
  width: 100%
}

.footercontainer {
  background-color: #f0fbfc;

}

.footercontentcontainer {
  /* display: grid;
    gap: 80px;
    grid-template-columns: auto auto auto auto;  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 140px;
  padding-top: 3%;
}
.sliderfindcontent{
  animation: zoom-in-zoom-out 0.7s ease infinite;
}
.findcontainer {
  animation: zoom-in-zoom-out 0.7s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.07, 1.06);
  }

  100% {
    transform: scale(1, 1);
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: green;
  color: white;
}

.dropdown-content a:hover {
  background-color: lightgreen;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.imageofsliderboxer{
  height: 44.3vh;
  width: 44.9vh;
  border-radius: 5px;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.accordion {
/* background-attachment: none; */
color: #de4043;
  transition: 0.4s;
  cursor: pointer;
}

.on, .accordion:hover {
color: darkred;

}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panelphto{
  height: 20vh;
}

@media only screen and (max-width: 600px) {
  .hiddenarrowsliderdiv {
    display: flex;
    justify-content: space-between;
    justify-content: right;

  }
  .panelphto{
    height: 100%;
    width: 100%;
  }
  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
  }
  
  .content3container{
    flex-wrap: wrap;
    justify-content: center;

  }
  .imageofsliderboxer{
    height: 42.9vh;
    width: 43.5vh;
    border-radius: 5px;
  }
  /* .contentnavbar {
    margin-top: 2%;
    text-align: right;
    justify-content: right;
  }  */
  

  .btnnavcontainer {
    display: none;
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(1.07, 1.06);
    }

    100% {

      transform: scale(1, 1);
    }
  }

  .cardbox22 {
    text-align: center;
    margin-left: 0;
    margin-top: 0
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .right_content_nav {
    display: none;
  }

  .body {
    overflow: hidden;
    /* font-family: Arial, Helvetica, sans-serif; */

  }

  .brand-image {
    height: 10vh;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */

  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .active {
    color: #de4043;
  }

  .nav_btn {
    background-color: #de4043;
    color: white;
    height: 8vh;
    width: 22vh;
    text-align: center;
    border: none;
    border-radius: 10px;
  }

  .nav_btn:hover {
    background-color: darkred;
  }

  .right_content_nav {
    margin-top: 15px;
    margin-right: 1%;
  }

  .home_container {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #f0fbfc;
    justify-content: center;

  }

  .home_content1 {
    margin-left: 5%;
  }

  .Red_Content_Home {
    color: #de4043;
  }

  .House_1 {
    /* height:70vh; */
    filter: blur(0%);
      -webkit-filter: blur(0px);
    width: 100%;
  }

  .button_homediv {
    display: flex;

  }

  .Learn_div {

    padding-left: 2%;
  }

  .linkdisplayhomediv {
    margin-top: 5%;
    background-color: white;
    text-align: center;
    margin-right: 4%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

  }

  .contentlinkhomediv {
    color: #27c879;
  }

  .contentlinkhomediv2 {
    color: #de4043;
  }

  .contentlinkhomediv3 {
    color: #1e6fed;
  }

  .contentlinkhome {
    display: grid;

  }

  .homecontainer2 {
    /* display: grid;
      gap: 20px;
      grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;

  }

  .content1container2 {
    margin-left: 10%;
  }

  .content2container2 {
    /* display: grid;
      gap: 20px;
      grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

  .iconboxcontainer {
    background-color: #de4043;
    border-radius: 50%;
    width: 10;
    text-align: center;
  }

  .boxcontainer1 {
    display: flex;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.2);
    border-radius: 0 80px 0 0;
    border: 1px solid #dbddf1;
  }


  .iconframe {
    height: 3.5vh;
    margin-top: 5px;
  }

  .contentboxcontainer {
    margin-left: 5%;
  }

  .boxofcard1 {
    background-color: #f6f8fc;
    /* display: grid;
      gap: 50px;
      grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .boxofcard2 {
    background-color: #f6f8fc;
    /* display: grid;
      gap: 50px;
      grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;

  }

  .cardbox2 {
    text-align: center;
    margin-top: 0%;
  }


  .House_2 {
    width: 100%;
  }

  .House_3 {
    width: 100%;
  }

  .houusebtnicon {
    height: 3.5vh;
    margin-top: 4%;
  }

  .box_btn {
    background-color: #de4043;
    color: white;
    height: 8vh;
    width: 35vh;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    /* margin-left: 7%;*/
    margin-bottom: 3%;
  }

  .box_btn:hover {
    background-color: darkred;
  }

  .namecirclecontainer {
    /* display: grid;
      gap: 150px;
      grid-template-columns: auto auto auto;  */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .circle1container {
    display: flex;
    gap: 5px;
  }

  .circle1 {
    background-color: #f0fbfc;
    border-radius: 50%;
    height: 1.3vh;
    width: 1.3vh;
  }

  .sliderfindcontent {
    text-align: center;
  }

  .slidercontainer {
    /* display: grid;
      gap: 90px;
      grid-template-columns: auto auto auto auto;  */
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
  }

  .arrowbuttoncontainer {
    color: white;
    background-color: #de4043;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    font-weight: bold;
    font-size: 3vh;
    text-align: center;
    justify-content: center;
    margin-top: 7em;
    display: none;


  }

  .arrowsign {
    text-align: center;
    justify-content: center;
    margin-top: 15%;
  }

  .imageofslidercontainer {}

  .slidercirclediv {
    display: flex;
    gap: 5px;
    justify-content: center;
    /* margin-top: 7%;
  margin-left: 3%; */
    margin-bottom: 5%;
  }

  .contentsliderbox {
    justify-content: center;
    text-align: center;
  }

  .slidercircles {
    background-color: lightgray;
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
  }

  .slidercirclesred {
    background-color: #de4043;
    border-radius: 50%;
    height: 1vh;
    width: 1vh;

  }

  /* .container5{
      background-image: url('./assets/Sake_Hand.png');
      width: 100%;
      height: 70vh;
      background-size: (100% 100%);
    
    }
    .redcontainersakehandcontainer{
      background-color: #de4043;
      border-radius: 10px;
      justify-content: center;
      width: 20vh;
    } */
  .sakehandcontainerimage {
    width: 100%
  }

  .footercontainer {
    background-color: #f0fbfc;

  }

  .footercontentcontainer {
    /* display: grid;
      gap: 80px;
      grid-template-columns: auto auto auto auto;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    /* gap: 30px;
    padding-top: 3%; */
    gap: 40px;;
  }
}
